  <div class="left-nav two-btn">
    <div class="button square bg-pink"><span class="icon-camera-1" /></div>
    <div class="button square bg-blue-twitter"><span class="icon-exchange" /></div>
  </div>
  <div class="title-container">
    <p><a href="#/medias/albums/<%= id %>"><%= name %><span class="badge"><%= count %></span></a></p>
  </div>
  <a href="#/medias/albums/<%= id %>">
    <div class="img-container">
      <ul>
        <% for (var i=0; i<5; i++) { %>
          <% if(!photos.models.length) break; %>
            <% if(photos.models.length === i) { %>
              <% for(var j=0; j<5 - i;j++) { %>
              <li></li>
              <% } %>
            <% break; %>
          <% } else { %>
          <li><img src="<%= photos.at(i).get('source') %>" /></li>
          <% } %>
        <% } %>
      </ul>
    </div>
  </a>
  <div class="summary-container">
    <p><a href="#/medias/albums/<%= id %>"><%= description.substring(0, 200) %> [...]</a></p>
  </div>
  <div class="content-box-footer">
    <span class="icon-clock"></span><span><%= time %></span>
    <span class="icon-users"></span><span>43 like this</span>
  </div>
