<div class="article-container">
	<!-- <label for="handler-article"></label> -->
	<p class="thema pink">Photos</p>
	<p class="title"><%= name %></p>
	<div class="info">
		<span class="icon-clock"></span><span><%= time %></span>
		<span class="icon-eye-1"></span><span><%= count %> photos</span>
		<span class="icon-users"></span><span><%= likes %> like this</span>
	</div>
	<div class="summary"><%= description %></div>
	<br />
	<br />
	<span class="button generic bg-green"><a href="#/photos/<%= id %>">Lancer le diaporama</a></span>
</div>