  <div class="left-nav two-btn">
    <div class="button square bg-pink"><span class="icon-camera-1" /></div>
    <div class="button square bg-blue-twitter"><span class="icon-exchange" /></div>
  </div>
  <div class="title-container">
    <p><%= name %><span class="badge"><%= count %></span></p>
  </div>
  <div class="img-container">
    <ul>
      <% for (var i=0; i<5; i++) { %>
        <% if(!photos.length) break; %>
        <% if(photos.length === i) { %>
          <% for(var j=0; j<5 - i;j++) { %>
            <li></li>
          <% } %>
      <% break; %>
      <% } else { %>
        <li><img src="<%= photos[i].source %>" /></li>
      <% } %>
      <% } %>
    </ul>
  </div>
  <div class="summary-container">
    <p><% if(description.length > 200) { %><%= description.substring(0, 200) %> [...]<% } else { %><%= description %><% } %></p>
  </div>
  <div class="content-box-footer">
    <span class="icon-clock"></span><span><%= time %></span>
    <span class="icon-users"></span><span><%= likes %> like this</span>
  </div>
