  <div class="left-nav two-btn">
    <div class="button square bg-orange"><span class="icon-doc-alt" /></div>
    <div class="button square bg-blue-twitter"><span class="icon-exchange" /></div>
  </div>        
  <div class="content-box-header">
    <span>Dossier : <%= thema %></span><span class="badge"><%= count %></span>
  </div>
  <div class="title-container">
    <p><a href="#<%= entry.niceUrl %>"><%= entry.title %></a></p>
  </div>
  <% if(entry.image) { %><a href="#<%= entry.niceUrl %>"><img src="<%= 'http://www.fnsea.fr'+entry.image %>" /><% } %></a>
  <div class="summary-container">
    <a href="#<%= entry.niceUrl %>"><%= entry.summary.substring(0, 250) %> [...]</a></div>
  </div>
  <div class="content-box-footer">
    <span class="icon-clock"></span><span><%= time %></span>
  </div>