  <div class="left-nav">
    <div class="button square bg-purple"><span class="icon-mic" /></div>
    <div class="button square bg-blue-twitter"><span class="icon-exchange" /></div>
  </div>        
  <div class="content-box-header">
    <span>Evenements</span><span class="badge"><%= count %></span>
  </div>
  <div class="title-container">
    <p><%= entry.title %></p>
  </div>
  <div class="summary-container">
    <!-- <p>Polaris UI Free is a set of beautiful free UI components, which includes Edit Boxes, Check Boxes, Radio Buttons.</p> -->
  </div>
  <div class="content-box-footer">
    <span class="icon-clock"></span><span></span>
  </div>
