<div class="header">
  <p class="title">Accueil</p>
  <label for="handler-menu" class="button square left">
    <span class="icon-menu"></span>
  </label>
  <label for="handler-combo" class="button square right">
    <span class="icon-dot-3"></span>
    <ul class="combo-box accordion">
      <li class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
        <span class="icon-star"></span>
        <span class="submenu-title">Favoris</span>              
      </li>
      <div id="collapseOne" class="collapse">
        <div>
          <p>Anim pariatur cliche...</p>
          <p>Anim pariatur cliche...</p>
          <p>Anim pariatur cliche...</p>
          <p>Anim pariatur cliche...</p>
          <p>Anim pariatur cliche...</p>
          <p>Anim pariatur cliche...</p>
        </div>
      </div>
      <li>
        <span class="icon-search"></span>
        <span class="submenu-title">Rechercher</span>
      </li>
      <li>
        <span class="icon-cog"></span>
        <span class="submenu-title">Préférences</span>
      </li>
      <li>
        <span class="icon-info-circle"></span>
        <span class="submenu-title">Informations</span>
      </li>
    </ul>
  </label>
  <label for="handler-filter" class="button square right">
    <span class="icon-filter"></span>
  </label>
</div>