<div class="content-box">
  <div class="left-nav">
    <div class="button square bg-blue"><span class="icon-users" /></div>
    <div class="button square bg-blue-twitter"><span class="icon-exchange" /></div>
  </div>        
  <div class="content-box-header">
    <span>Les offres d'emploi du réseau</span><span class="badge"><%= count %></span>
  </div>
  <div class="title-container">
    <p><%= title %></p>
  </div>
  <div class="summary-container">
    <p><%= summary %></p>
  </div>
  <div class="content-box-footer">
    <span class="icon-clock"></span><span><%= time %></span>
  </div>          
</div>