<ul class="list left-menu" style="margin-top:60px">
  <li class="icon-list">
    <div class="button rounded bg-orange">
      <span class="icon-doc-alt"></span>
    </div>
    <div>
      <a href="#/toutes-les-thematiques">Actualités
      <span class="icon-angle-right"></span>       
      <p class="subtitle">Dossiers et actualités</a></p>
    </div>          
  </li>
  <li class="icon-list">
    <div class="button rounded bg-purple">
      <span class="icon-mic"></span>
    </div>
    <div>
      <a href="#/presse-et-publications/espace-presse">Espace presse
      <span class="icon-angle-right"></span>       
      <p class="subtitle">Communiqués et invitations</a></p>
    </div>          
  </li>
  <li class="icon-list">
    <div class="button rounded bg-blue">
      <span class="icon-users"></span>
    </div>
    <div>
      <a href="#/emploi-formation/nos-offres-d-emploi">Offres d'emploi
      <span class="icon-angle-right"></span>       
      <p class="subtitle">Les offres dans le réseau</a></p>
    </div>          
  </li>
  <li class="icon-list">
    <div class="button rounded bg-pink">
      <span class="icon-camera-1"></span>
    </div>
    <div>
      <a href="#/medias/albums">Photos
      <span class="icon-angle-right"></span>       
      <p class="subtitle">Nos albums sur Facebook</a></p>
    </div>          
  </li>
  <li class="icon-list">
    <div class="button rounded bg-green">
      <span class="icon-videocam"></span>
    </div>
    <div>
      <a href="#/medias/videos">Vidéos
      <span class="icon-angle-right"></span>       
      <p class="subtitle">Nos vidéos youtube</a></p>
    </div>          
  </li>
</ul>