<ul class="list left-menu" style="margin-top:60px">
  <li class="icon-list">
    <div class="button rounded bg-orange">
      <span class="icon-doc-alt"></span>
    </div>
    <div>
      Actualités
      <span class="icon-angle-right"></span>       
      <p class="subtitle">Dossiers et actualités</p>
    </div>          
  </li>
  <li class="icon-list">
    <div class="button rounded bg-purple">
      <span class="icon-mic"></span>
    </div>
    <div>
      Espace presse
      <span class="icon-angle-right"></span>       
      <p class="subtitle">Communiqués et invitations</p>
    </div>          
  </li>
  <li class="icon-list">
    <div class="button rounded bg-blue">
      <span class="icon-users"></span>
    </div>
    <div>
      Offres d'emploi
      <span class="icon-angle-right"></span>       
      <p class="subtitle">Les offres dans le réseau</p>
    </div>          
  </li>
  <li class="icon-list">
    <div class="button rounded bg-pink">
      <span class="icon-camera-1"></span>
    </div>
    <div>
      Photos
      <span class="icon-angle-right"></span>       
      <p class="subtitle">Nos albums sur Facebook</p>
    </div>          
  </li>
  <li class="icon-list">
    <div class="button rounded bg-green">
      <span class="icon-videocam"></span>
    </div>
    <div>
      Vidéos
      <span class="icon-angle-right"></span>       
      <p class="subtitle">Nos vidéos youtube</p>
    </div>          
  </li>
</ul>