
#article-complete{
	display: none;
	.article-container{
		padding:40px;
	}
	p{
		color: white;
		text-align: justify;
		font-weight: normal;
	}
	img{ 
		width: 100%;
		margin-top: 15px;
	}
	p.thema{
		text-transform: uppercase;
		color:@blue;
		font-size: 12px;
		margin-bottom: 5px;
	}
	p.title{
		font-size: 20px;
		color: white;
		line-height: 30px;
	}
	div.summary p{
		.opacity(.4);
	}
	div.content p{
		.opacity(.8);
		line-height: 25px;
	}
}
