
#swipeview-slider {
	background: @dark;
}

#swipeview-slider > div {
	background: @dark;
	position:relative;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:-o-box;
	display:box;
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	-ms-box-orient:vertical;
	-o-box-orient:vertical;
	box-orient:vertical;
	-webkit-box-pack:center;
	-moz-box-pack:center;
	-ms-box-pack:center;
	-o-box-pack:center;
	box-pack:center;
	-webkit-box-align:center;
	-mox-box-align:center;
	-ms-box-align:center;
	-o-box-align:center;
	box-align:center;
	overflow:hidden;
}

#swipeview-slider img {
	display:block;
	/*border:3px solid #eee;
	box-sizing:border-box;*/
	-webkit-transition-duration:.4s;
	-moz-transition-duration:.4s;
	-ms-transition-duration:.4s;
	-o-transition-duration:.4s;
	transition-duration:.4s;
	-webkit-transition-property:opacity;
	-moz-transition-property:opacity;
	-ms-transition-property:opacity;
	-o-transition-property:opacity;
	transition-property:opacity;
	opacity:1;
	pointer-events:none;
}